.custom-select {
  margin: 0% 3.5%;
  position: relative;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-header {
  padding: 8px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.select-options {
  z-index: 15;
  position: absolute;
  top: 100%;
  left: 0;
  width: 20%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.select-options button {

  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.select-options button:hover {
  background-color: #f0f0f0;
}

